# Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
*.tfvars
*.tfvars.json

# Ignore any .zip files (e.g., Lambda deployment packages)
*.zip

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db


lambda_package/package

